body {
    font-family: 'Helvetica', sans-serif;
    background-color: #e8eced;
}

.div_himg {
    background-color: #27313d;
    padding-left: 20px;
}

.img-h {
    height: 50px;
}

.div-htab {
    background-color: #364757;
    color: white;
    font-size: small;
    word-spacing: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 20px;
}

.div-hp {
    background-color: orangered;
    color: white;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;
}